@import "../../../scss/rem-calc.scss";

:host {
  main {
    margin-top: px-to-rem(24);

    .names {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      height: px-to-rem(90);

      padding: 0 px-to-rem(30);

      h1 {
        color: var(--white-color);
        font-size: px-to-rem(32);
        text-transform: capitalize;
      }

      h2 {
        position: absolute;
        font-weight: 100;
        top: 0;
        font-size: px-to-rem(60);
        color: rgba(255, 255, 255, 0.1);
      }

      h1,
      h2 {
        //Remove Bug Animation
        -webkit-animation-fill-mode: none !important;
        animation-fill-mode: none !important;
      }
    }

    .status {
      position: relative;

      img {
        position: absolute;
        top: px-to-rem(-90);
        left: px-to-rem(30);
        max-width: px-to-rem(130);
        z-index: 10;

        //Remove Bug Animation
        -webkit-animation-fill-mode: none !important;
        animation-fill-mode: none !important;
      }
    }
    .statistics {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background: var(--white-color);
      min-height: 43.9vh;

      padding: px-to-rem(75) px-to-rem(35) px-to-rem(30);
      border-radius: px-to-rem(50) px-to-rem(50) 0 0;

      h3 {
        margin-bottom: px-to-rem (20);
        font-weight: 700;
        font-style: italic;
        font-size: px-to-rem(32);
        text-decoration: underline;
        color: var(--secondary-color);
      }

      ol {
        li {
          display: flex;
          justify-content: space-between;

          font-size: px-to-rem(18);
          line-height: 130%;
        }
      }

      .btn {
        color: var(--white-color);
        text-decoration: none;
        font-weight: 800;
        background-color: var(--secondary-color);
        padding: px-to-rem(12) px-to-rem(8);
        border-radius: 8px;
        font-size: px-to-rem(32);
        text-align: center;
        margin-top: px-to-rem(18);
        cursor: pointer;
      }
    }
  }
  @media (max-width: 644px) {
    main {
      padding: 24px;
    }
    .statistics {
      width: 100%;
      border-radius: 24px !important;
    }
  }

  @media (max-width: 465px) {
    main {
      .names {
        h2 {
          font-size: 2rem;
          top: 1.4rem;
        }
        h1 {
          font-size: 1.8rem;
        }
      }
      .status {
        img {
          max-width: px-to-rem(110);
        }
      }
    }
  }
}
